<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/pace.css">
	    <link rel="stylesheet" href="css/custom.css">
	</head>

	<body id="page">
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><b>Blog</b></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="/" data-hover="Home">Add Article</a></li>
							</div><!-- /.navbar-collapse -->
						</nav>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">Imprint Page</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<!-- <img class="img-responsive" src="img/me.jpg" alt="Developer Image"> -->
								</figure>
								<p>Diese Webpräsenz ist eine studentische Übungaufgabe, repräsentiert in keiner
Weise Jacobs University Bremen gGmbH und wird nicht von ihr überwacht.
Nachfolgend möchten wir Sie über den Umgang mit Ihren Daten gem. Art. 13
Datenschutzgrundverordnung (DSGVO) informieren.</br>

Verantwortlicher </br>
Verantwortlich für die nachfolgend dargestellte Datenerhebung und Verarbeitung ist die im Impressum genannte Stelle. </br>

Nutzungsdaten </br>
Wir speichern keine Nutzungsdaten.</br>

Datenübermittlung an Dritte </br>
Wir übermitteln Ihre personenbezogenen Daten nicht an Dritte. </br>

Ihre Rechte als Nutzer </br>
Bei Verarbeitung Ihrer personenbezogenen Daten gewährt die DSGVO Ihnen als Webseitennutzer bestimmte Rechte: </br>

1. Auskunftsrecht (Art. 15 DSGVO):</br>
Sie haben das Recht eine Bestätigung darüber zu verlangen, ob sie betreffende personenbezogene Daten verarbeitet werden; ist dies der Fall, so haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten und auf die in Art. 15 DSGVO im einzelnen aufgeführten Informationen. </br>

2. Recht auf Berichtigung und Löschung (Art. 16 und 17 DSGVO):</br>
Sie haben das Recht, unverzüglich die Berichtigung sie betreffender unrichtiger personenbezogener Daten und ggf. die Vervollständigung unvollständiger personenbezogener Daten zu verlangen. </br>
Sie haben zudem das Recht, zu verlangen, dass sie betreffende personenbezogene Daten unverzüglich gelöscht werden, sofern einer der in Art. 17 DSGVO im einzelnen aufgeführten Gründe zutrifft, z. B. wenn die Daten für die verfolgten Zwecke nicht mehr benötigt werden. </br>

3. Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO):</br>
Sie haben das Recht, die Einschränkung der Verarbeitung zu verlangen, wenn eine der in Art. 18 DSGVO aufgeführten Voraussetzungen gegeben ist, z. B. wenn Sie Widerspruch gegen die Verarbeitung eingelegt haben, für die Dauer einer etwaigen Prüfung. </br>

4. Recht auf Datenübertragbarkeit (Art. 20 DSGVO):</br>
In bestimmten Fällen, die in Art. 20 DSGVO im Einzelnen aufgeführt werden, haben Sie das Recht, die sie betreffenden personenbezogenen Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten bzw. die Übermittlung dieser Daten an einen Dritten zu verlangen.  </br> 

5. Widerspruchsrecht (Art. 21 DSGVO):</br>
Werden Daten auf Grundlage von Art. 6 Abs. 1 lit. f erhoben (Datenverarbeitung zur Wahrung berechtigter Interessen), steht Ihnen das Recht zu, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Widerspruch einzulegen. Wir verarbeiten die personenbezogenen Daten dann nicht mehr, es sei denn, es liegen nachweisbar zwingende schutzwürdige Gründe für die Verarbeitung vor, die die Interessen, Rechte und Freiheiten der betroffenen Person überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen. </br>

6. Beschwerderecht bei einer Aufsichtsbehörde:</br>
Sie haben gem. Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbehörde, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden Daten gegen datenschutzrechtliche Bestimmungen verstößt. Das Beschwerderecht kann insbesondere bei einer Aufsichtsbehörde in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes geltend gemacht werden. </br>

Kontaktdaten: </br>
Contact Details: luanyude@126.com, PROTECTED AGAINST SPAM BOTS</br>

This website represents student homework, it does not represent Jacobs
University Bremen gGmbH in any way, nor is it checked by it. We would like to
inform you about the management of your personal data in accordance with Art. 13
General Data Protection Regulation (GDPR).</br>

Controller</br>
The controller responsible for the described data collection and processing is named in the imprint.</br>

Storage of Your IP address</br>
We do not store the IP address transmitted by your web browser.</br>

Usage Data</br>
We do not store any usage data.</br>

Data Transfer to Third Parties</br>
We do not transfer your personal data to third parties.</br>

Your Rights as a User</br>
As a website user, the GDPR grants you certain rights when processing your personal data.</br>

1. Right of access (Art. 15 GDPR):</br>
You have the right to obtain confirmation at to whether or not personal data concerning you is being processed, and, where that is the case access to the personal data and the information specified in Art. 15 GDPR.</br>

2. Right to rectification and erasure (Art. 16 and 17 GDPR):</br>
You have the right to obtain without undue delay the rectification of inaccurate personal data concerning you and, if necessary, the right to have incomplete person-al data completed.</br>
You also have the right to obtain an erasure of the personal data concerning you without undue delay, if one of the reasons listed in Art. 17 GDPR applies, e.g. if the data is no longer necessary for the intended purpose.</br>

3. Right to restriction of processing (Art. 18 GDPR):</br>
If one of the conditions set forth in Art. 18 GDPR applies, you shall have the right to restrict the processing of your data to mere storage, e.g. if you revoke consent, to the processing, for the duration of a possible examination.</br>

4. Right to data portability (Art. 20 GDPR):</br>
In certain situations, listed in Art. 20 GDPR, you have the right to receive the personal data concerning you in a structured, common and machine-readable format or demand a transmission of the data to another third party.</br>

5. Right to object (Art. 21 GDPR):</br>
If the data is processed pursuant to Art. 6 para. 1 s. 1 lit. f GDPR (data processing for the purposes of the legitimate interests), you have the right to object to the processing at any time for reasons arising out of your particular situation. We will then no longer process personal data, unless there are demonstrably compelling legitimate grounds for processing, which override the interests, rights and freedoms of the person concerned, or the processing serves the purpose of asserting, exercising or defending legal claims.</br>

6. Right to lodge a complaint with a supervisory authority:</br>
Pursuant to Art. 77 GDPR, you have the right to lodge a complaint with a supervisory authority if you consider the processing of the data concerning you infringes data protection regulations. The right to lodge a complaint may be invoked in particular in the Member State of your habitual residence, place of work or the place of the alleged infringement.</br>

Contact Details: luanyude@126.com, PROTECTED AGAINST SPAM BOTS</p>
						</article>
					</main>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- <p class="copyright">&copy; 201</p> -->
					</div>
				</div>
			</div>
		</footer>
		
	</body>
</html>
