<!--{% block content %}-->

<!--  <h2>Survey</h2>-->

<!--    {% for p in point %}-->
<!--&lt;!&ndash;          <p>{{p.0}}</p>&ndash;&gt;-->
<!--    {% endfor %}-->

<div id="div1">
<p id="p1">This is a paragraph.</p>
<p id="p2">This is another paragraph.</p>
</div>


<!--{% endblock %}-->

<!--<script type="text/javascript">-->
<!--    data={{point}};-->
<!--    var para = document.createElement("p");-->
<!--    var node = document.createTextNode(data);-->
<!--    para.appendChild(node);-->
<!--    var element = document.getElementById("div1");-->
<!--    element.appendChild(para);-->
<!--</script>-->