django_heroku==0.3.1
pymongo==3.8.0
open3d_python==0.7.0.0
numpy==1.16.4
pandas==0.24.1
Django==2.2
visdom==0.1.8.8
torch==1.1.0
opencv_python==4.1.1.26
torchvision==0.3.0
open3d==0.8.0.0
Pillow==6.2.1
