<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Search Engine</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<section class="container">
    <div class="login">
        <h1>Search the database</h1>
        <form method="get" action="/start_search">
{#            <p><input type="text" name="database" value="SemLog" placeholder="Name of database"> </p>#}
{#            <p><input type="text" name="collection" value="20" placeholder="Name of collection" </p>#}
            <p><input type="text" name="timestamp" placeholder="Time less than"></p>
            <p><input type="text" name="object_id" placeholder="Unique object id"></p>
            <p><input type="text" name="view_id" placeholder="Unique view id"></p>
            <p><input type="text" name="image_type" placeholder="Type of image"></p>

            <p class="submit"><input type="submit" name="commit" value="Search"></p>
        </form>
    </div>


</section>


</body>
</html>
