<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

</head>
<body>
<h2>Search</h2>

<form action="/start_search/" method="get" name="search_form">
    <p><span>timestamp:</span><input type="text" name="timestamp"></p>
    <p><span>object_id:</span><input type="text" name="object_id"></p>
    <p><span>view_id:</span><input type="text" name="view_id"></p>
    <p><span>image_type:</span><input type="text" name="image_type"></p>
    <input type="submit" value="Search target images!">
</form>
{#<p><a href="/gallery/">show Images!</a></p>#}
<form action="/object_cut/" method="get">
{# <input type="text" value="8" name="mytextbox" size="1"/>#}
    <p><span>object_id:</span><input type="text" name="object_id"></p>
 <input type="submit" class="btn" value="Cut!" name="object_cut">
</form>




</body>
</html>
